<%- model_class = Tucdoc -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:coagyear) %>:</strong></dt>
  <dd><%= @tucdoc.coagyear %></dd>
  <dt><strong><%= model_class.human_attribute_name(:project_id) %>:</strong></dt>
  <dd><%= @tucdoc.project_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:object_class_id) %>:</strong></dt>
  <dd><%= @tucdoc.object_class_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:item_no) %>:</strong></dt>
  <dd><%= @tucdoc.item_no %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amend_no) %>:</strong></dt>
  <dd><%= @tucdoc.amend_no %></dd>
  <dt><strong><%= model_class.human_attribute_name(:doc) %>:</strong></dt>
  <% if @tucdoc.doc.url %>
    <dt><%= image_tag @tucdoc.doc.url, :style => 'height:300px;width:auto' %></dt>
  <% end %>
  <dd><%= @tucdoc.doc %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              tucdocs_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_tucdoc_path(@tucdoc), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              tucdoc_path(@tucdoc),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
